body {
	background-color: #F8EAED;
}

h1 {
	text-align: center;
	font-family: 'Lato', sans-serif;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#yesbutton {
	background-color: #BFF4BE;
	border-radius: 20px;
	width: 100px;
	height: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	margin-right: 25px;
}
#nobutton {
	background-color: #FF7F7F;
	border-radius: 20px;
	width: 100px;
	height: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	margin-left: 25px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.container div:nth-child(1) {
	background-color: red;
}
.container div:nth-child(2) {
	background-color: green;
}
.container div:nth-child(3) {
	background-color: blue;
}